<template>
  <div class="odmik">
    <div class="col-xs-12" style="margin-top: 1em">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Čakanje na igralce</h3>

        </div>
        <div class="box-body">
          <qrcode-vue :value="povezava" :size="100" level="H" style="margin: auto" class="pull-right"></qrcode-vue>
          <p>Počakaj, da se zberete vsi in začnete z igro. Za uspešno igro potrebujete vsaj 3 igralce.</p>
          <p>Ostali igralci se lahko pridružijo igri tako, da poskenirajo QR kodo ali pa vnesejo kodo igre: <span style="font-weight: bold;">{{idIgre}}</span>.</p>
        </div>
      </div>
    </div>

    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Uporabniki v igri</h3>
        </div>
        <div class="box-body">
          <ul class="todo-list">
            <li v-for="igralec in urejeniIgralci" :key="igralec.ime">
              <span class="text">{{igralec.ime}}</span>&nbsp;
              <small class="label label-danger" v-if="igralec.admin">Glavni</small>
              <div class="tools">
              </div>
            </li>
          </ul>
          <button v-if="jaz.admin" @click.prevent="zacniIgro" class="btn btn-block button" style="margin-top: 15px">Začni igro</button>
        </div>
        <!-- <div class="box-footer center" v-if="jaz.admin">
        </div> -->
      </div>
    </div>

  </div>
</template>

<script>
import Rest from "./../storitve/rest";
import JQuery from "jquery";
import Vue from "vue";
import QrcodeVue from 'qrcode.vue'

export default {
  components: {
    QrcodeVue
  },
  name: "CakanjeIgralcev",
  props: ['idIgre', 'igralci'],
  data() {
    return {
      visinaOkna: 300
    };
  },
  mounted: function() {
    this.nastaviVisino()
    window.addEventListener('resize', this.resizeHandeler);
  },
  destroyed () {
    window.removeEventListener('resize', this.resizeHandeler);
  },
  computed: {
    urejeniIgralci () {
      return this.igralci.sort((a,b) => {return a.id < b.id ? -1 : 1})
    },
    povezava() {
      return window.location.href
    },
    jaz() {
      for (let i = 0; i < this.igralci.length; i++) {
        if (this.igralci[i].id === localStorage.getItem('userId')) {
          return this.igralci[i]
        }
      }
      return this.igralci[0]
    }
  },
  methods: {
    nastaviVisino () {
      this.visinaOkna = window.innerHeight;
    },
    resizeHandeler (e) {
      this.nastaviVisino()
    },
    zacniIgro() {
      let podatki = {
        adminUserId: localStorage.getItem('userId')
      };
      Rest.request("POST", `/rooms/`+this.idIgre+`/start`, podatki)
        .then(data => {
        })
        .catch(err => {
          console.log(err);
        });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
