<template>
    <div class="main">
        <div class="title center">
          Krica kraca
        </div>
      <div class="center up">
        <a class="button" @click.prevent="$router.push({path:'/izbiraSobe'})">
          Pridruži se sobi
        </a>
      </div>
      <br>
      <div class="center">
        <a class="button inside-main" @click.prevent="$router.push({path:'/ustvarjanjeSobe'})">
          Ustvari sobo
        </a>
      </div>
    </div>



</template>
<style scoped>
  .typewriter {
    height: 100vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    background-position-x: 50%;
    background-position-y: 0%;
    /*-webkit-animation: zoomin 30s infinite;*/
    overflow: hidden;
    background-image: url("../assets/typewriter.jpg");
  }
  @font-face {
    font-family: '3dfont';
    src: url('../assets/3dfont.ttf') format('truetype'),
        url('../assets/3dfont.woff') format('woff'),
        url('../assets/3dfont.woff2') format('woff2');
  }
  .title {
    font-family: '3dfont';
    color: white;
    font-size: 10em;
    line-height: 100%;
  }
  .button{
    font-size: 1.5em;
  }


  .main {
    margin:50px;
    width: 60%;
  }
  .center {
    text-align:center;
  }
  .up {
    margin-top:50px;
  }
  @media (max-width: 575.98px) {
    .title {
      font-size: 7em;
      margin: 50px 10px;
    }
    .main {
      margin:10px;
      width: 100%;
    }
    .button{
      font-size: 1.2em;

    }
  }










</style>