<template>
  <div class="odmik">
    <div v-if="!koncano">
      <div class="col-xs-12" style="margin-top: 1em">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Glasovanje</h3>
            <span class="pull-right" style="color: white">Preostali čas: {{stanje.preostaliCas}}</span>
            <p style="color: white">Izberi zgodbo, ki se ti zdi najboljša.</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12" v-for="zgodba in stanje.zgodbe" :key="zgodba.id" v-if="zgodba.idUporabnika !== jaz.ime">
        <div class="box box-default">
          <div class="box-body">
            <span v-for="beseda in zgodba.besedilo" :key="beseda.text">
              <span :style="'font-weight: ' + (beseda.tip === 'slika' ? 'bold' : 'normal')">{{beseda.text}}&nbsp;</span>
            </span>
          </div>
          <div class="box-footer">
            <button class="button" @click.prevent="glasuj(zgodba.id)">Izberi to zgodbo</button>
          </div>
        </div>
      </div>
    </div>
    <div v-else style="text-align: center">
      <img src="/slike/panda.png" style="margin-top: 10em; max-width: 90%" />
      <br />
      <br />
      <h2>Počakaj na ostale igralce</h2>
    </div>
  </div>
</template>

<script>
import Rest from "./../storitve/rest";
import JQuery from "jquery";
import Vue from "vue";

export default {
  components: {
  },
  name: "Glasovanje",
  props: ['idIgre', 'stanje', 'igralci'],
  data() {
    return {
      visinaOkna: 300,
      koncano: false
    };
  },
  mounted: function() {
    this.nastaviVisino()
    window.addEventListener('resize', this.resizeHandeler);
  },
  destroyed () {
    window.removeEventListener('resize', this.resizeHandeler);
  },
  computed: {
    povezava() {
      return window.location.href
    },
    jaz() {
      for (let i = 0; i < this.igralci.length; i++) {
        if (this.igralci[i].id === localStorage.getItem('userId')) {
          return this.igralci[i]
        }
      }
      return this.igralci[0]
    }
  },
  methods: {
    nastaviVisino () {
      this.visinaOkna = window.innerHeight;
    },
    resizeHandeler (e) {
      this.nastaviVisino()
    },
    glasuj(idZgodbe) {
      let podatki = {
        idUporabnika: localStorage.getItem('userId'),
        idZgodbe: idZgodbe
      };
          this.koncano = true

      Rest.request("POST", `/rooms/`+this.idIgre+`/vote`, podatki)
        .then(data => {
          this.koncano = true
        })
        .catch(err => {
          console.log(err);
        });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
