<template>
  <div class="">
    <div class="container">
      <div v-if="stanjeIgre && stanjeIgre.fazaIgre === 0">
        <CakanjeIgralcev :idIgre="idIgre" :igralci="stanjeIgre.igralci"></CakanjeIgralcev>
      </div>
      <div v-if="stanjeIgre && stanjeIgre.fazaIgre === 1">
        <Risanje :idIgre="idIgre" :stanje="stanjeIgre.stanje"></Risanje>
      </div>
      <div v-else-if="stanjeIgre && stanjeIgre.fazaIgre === 2">
        <PisanjeZgodbe :idIgre="idIgre" :stanje="stanjeIgre.stanje"></PisanjeZgodbe>
      </div>
      <div v-else-if="stanjeIgre && stanjeIgre.fazaIgre === 3">
        <Glasovanje :idIgre="idIgre" :stanje="stanjeIgre.stanje" :igralci="stanjeIgre.igralci"></Glasovanje>
      </div>
      <div v-else-if="stanjeIgre && stanjeIgre.fazaIgre === 4">
        <PrikazRezultatov :idIgre="idIgre" :stanje="stanjeIgre.stanje":igralci="stanjeIgre.igralci"></PrikazRezultatov>
      </div>
    </div>
  </div>
</template>

<script>
import Rest from "./../storitve/rest";
import JQuery from "jquery";
import Vue from "vue";
import Risanje from "./Risanje"
import PisanjeZgodbe from "./PisanjeZgodbe"
import CakanjeIgralcev from "./CakanjeIgralcev"
import Glasovanje from "./Glasovanje"
import PrikazRezultatov from "./PrikazRezultatov"

export default {
  components: {
    Risanje,
    PisanjeZgodbe,
    CakanjeIgralcev,
    Glasovanje,
    PrikazRezultatov
  },
  name: "GlavnaStran",
  props: ["idIgre"],
  data() {
    return {
        stanjeIgre: null,
        intervalid1: null
    };
  },
  created: function() {
    this.pridobiStanje()

    let th = this;
    this.$nextTick(function() {
      th.intervalid1 = setInterval(() => {
        th.pridobiStanje()
      }, 1000);
    });
  },
  beforeDestroy() {
    clearInterval(this.intervalid1);
  },
  methods: {
    pridobiStanje () {
//       this.stanjeIgre = {
// 	"fazaIgre": 2,
//   "stanje": {
//   	"steviloUporabljenihSlik": 4, // vsaj koliko slik mora uporabnik uporabiti
//   	"preostaliCas": 30,
//     "slike": [
//       {
//         "imageBase64": "https://via.placeholder.com/150/00FF00/808080",
//         "imageStrokes": [],
//         "id": "123",
//         "detection": "beseda"
//       }
//     ]
//   },
//   "igralci": [
//   	{
//     	"ime": "Janez",
//       "vip": true,
//       "id": 123456
//     }
//   ]
// }
//       return
      Rest.request('POST', `/rooms/` + this.idIgre + `/game_state`, {idUporabnika: localStorage.getItem('userId')}).then((data) => {
        this.stanjeIgre = data
      }).catch((err) => {
        // this.$router.push({path:'/'})
        console.log(err)
      })
    }
  }
};
</script>

<style scoped>

</style>
