<template>
  <div style="">
    <div class="">
      <div class="container odmik">
        <div class="col-xs-12" style="margin-top: 1em" v-if="!ustvarjanjeSobe">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Pridruži se sobi</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form">
              <div class="box-body">
                <div class="form-group">
                  <label for="idSobe">Id sobe</label>
                  <input type="text" class="form-control" id="idSobe" placeholder="abcd" v-model="idSobe">
                </div>
                <div class="form-group">
                  <label for="ime">Ime</label>
                  <input type="text" class="form-control" id="ime" placeholder="Janko" v-model="ime">
                </div>
              </div>
              <!-- /.box-body -->

              <div class="box-footer center">
                <button class="button" :disabled="ime.length === 0 || idSobe.length === 0" @click.prevent="pridruziSeIgri">Pridruži se sobi</button>
              </div>
            </form>
          </div>
        </div>

        <div class="col-xs-12" style="margin-top: 1em" v-if="ustvarjanjeSobe">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Ustvari novo sobo</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form">
              <div class="box-body">
                <div class="form-group">
                  <label for="ime">Ime</label>
                  <input type="text" class="form-control" id="ime" placeholder="Janko" v-model="ime">
                </div>
              </div>
              <!-- /.box-body -->

              <div class="box-footer center">
                <button class="button" :disabled="ime.length === 0" @click.prevent="ustvariSobo">Ustvari sobo</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Rest from "./../storitve/rest";
import JQuery from "jquery";
import Vue from "vue";

export default {
  components: {
  },
  name: "IzbiraSobe",
  data() {
    return {
        stanjeIgre: null,
        ime: "",
        idSobe: ""
    };
  },
  created: function() {},
  computed: {
    ustvarjanjeSobe() {
      return this.$route.name === 'ustvarjanje-sobe'
    }
  },
  methods: {
    ustvariSobo() {
      let podatki = {
        ime: this.ime
      };
      Rest.request("POST", `/rooms/create_room`, podatki)
        .then(data => {
          let id = data.roomLinkShare
          let userId = data.userId
          localStorage.setItem('userId', userId)
          this.$router.push({path:'/'+id})
        })
        .catch(err => {
          console.log(err);
        });
    },
    pridruziSeIgri() {
      let podatki = {
        ime: this.ime,
      };
      Rest.request("POST", `/rooms/` + this.idSobe + `/join_room`, podatki)
        .then(data => {
          let userId = data.userId
          localStorage.setItem('userId', userId)
          this.$router.push({path:'/'+this.idSobe})
        })
        .catch(err => {
          console.log(err);
        });
    }

  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
