<template>
  <div class="odmik">
    <div v-if="!koncano">
      <div class="col-xs-12" style="margin-top: 1em">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Napiši zgodbo</h3>
            <span class="pull-right" style="color: white">Preostali čas: {{stanje.preostaliCas}}</span>
            <p style="color: white">Napiši zgodbo, v kateri čimbolje uporabi podane slike vsaj enkrat. Vključi svojo domišljijo in bodi kar se da inovativen.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12" style="margin-top: 0em">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Uporabi te slike&nbsp;&nbsp;&nbsp;</h3>
            <small style="color: white">Slike uporabiš tako, da jih povlečeš v zgodbo.</small>
          </div>
          <div class="box-body" style="min-height: 100px">
            <draggable v-model="neporabljeneSlike" group="people" @start="drag=true" @end="drag=false" :move="onMove">
              <div v-for="(element, i) in neporabljeneSlike" :key="i" style="float:left">
                <div v-if="element.tip === 'slika'"><img :src="element.url" style="width: 70px; background:#fff" />&nbsp;</div>
                <div v-if="element.tip === 'besedilo'">{{element.text}}</div>
              </div>
            </draggable>
          </div>
        </div>
      </div>
      <div class="col-xs-12">

        <br/>

        <div style="background: rgba(255,255,255,0.2); min-height: 400px; padding: 1ex">
          <draggable v-model="elementiZgodbe" group="people" @start="drag=true" @end="drag=false" :move="onMove">
            <div v-for="(element, i) in elementiZgodbe" :key="i + neporabljeneSlike.length" style="float:left">
              <div v-if="element.tip === 'slika'"><img :src="element.url" style="height: 40px; background:#fff" />&nbsp;</div>
              <div v-if="element.tip === 'besedilo'" style="display: flex; vertical-align: middle; height: 70px">{{element.text}} &nbsp;</div>
            </div>
          </draggable>
          <div style="">
            <input type="text" class="" style="color: black" v-model="novaBeseda" placeholder="Vpiši zgodbo" :size="Math.max(novaBeseda.length, 6)">
          </div>
        </div>
        <div class="center">
          <button @click.prevent="oddajZgodbo" class="btn-block button" style="margin-top: 15px" :disabled="stUporabljenihSlik < neporabljeneSlike.length">
            Oddaj zgodbo
            <span v-if="neporabljeneSlike.length - stUporabljenihSlik > 0">(Uporabi še {{neporabljeneSlike.length - stUporabljenihSlik}} slik.)</span>
          </button>
        </div>
      </div>
    </div>
    <div v-else style="text-align: center">
      <img src="/slike/panda.png" style="margin-top: 10em; max-width: 90%" />
      <br />
      <br />
      <h2>Počakaj na ostale igralce</h2>
    </div>
  </div>
</template>

<script>
import Rest from "./../storitve/rest";
import JQuery from "jquery";
import Vue from "vue";
import draggable from "vuedraggable";

export default {
  components: {
    draggable
  },
  name: "PisanjeZgodbe",
  props: ['idIgre', 'stanje'],
  data() {
    return {
      novaBeseda: '',
      visinaOkna: 300,
      neporabljeneSlike: [],
      onemogocenoGledanjeSeznama: false,
      elementiZgodbe: [],
      koncano: false,
      stUporabljenihSlik: 0
    };
  },
  watch: {
    neporabljeneSlike: function(newVal, oldVal) {
      this.stUporabljenihSlik = this.uporabljeneSlike()
      if (this.onemogocenoGledanjeSeznama) return
      if (newVal.length !== oldVal.length) {
        this.onemogocenoGledanjeSeznama = true
        this.neporabljeneSlike = oldVal
        this.$nextTick(function () {
          this.onemogocenoGledanjeSeznama = false
        })
      }
    },
    novaBeseda: function(val) {
      if (this.novaBeseda.endsWith(' ') && this.novaBeseda.length > 1) {
        this.elementiZgodbe.push({
          tip: 'besedilo', text: this.novaBeseda.trim()
        })
        this.novaBeseda = ' '
      }
      if (this.novaBeseda === '') {
        if (this.elementiZgodbe.length > 0) {
          let element = this.elementiZgodbe.pop()
          if (element.tip === 'slika') {
            // this.neporabljeneSlike.push(element)
            this.novaBeseda = ' '
          } else {
            this.novaBeseda = ' ' + element.text
          }
        } else {
          this.novaBeseda = ' '
        }
      }
      var audio = new Audio('/zvoki/pisalni-stroj.mp3')
      audio.play()
    }
  },
  mounted: function() {
    this.nastaviVisino()
    window.addEventListener('resize', this.resizeHandeler);
    console.log(this.stanje.slike)
    this.onemogocenoGledanjeSeznama = true
    this.neporabljeneSlike = []
    for (let i = 0; i < this.stanje.slike.length; i++) {
      this.neporabljeneSlike.push({tip: 'slika', url: this.stanje.slike[i].imageBase64, id: this.stanje.slike[i].id})
    }
    this.$nextTick(function () {
      this.onemogocenoGledanjeSeznama = false
    })
  },
  destroyed () {
    window.removeEventListener('resize', this.resizeHandeler);
  },
  computed: {
    lahkoOddas () {
      this.stanje.steviloUporabljenihSlik
    },
    visinaSlike () {
      return this.visinaOkna - 150
    }
  },
  methods: {
    uporabljeneSlike () {
      this.elementiZgodbe
      let uporabljene = new Set()
      for (let i = 0; i < this.elementiZgodbe.length; i++) {
        if (this.elementiZgodbe[i].tip === 'slika') {
          console.log(this.elementiZgodbe[i])
          uporabljene.add(this.elementiZgodbe[i].id)
        }
      }
      return uporabljene.size
    },
    onMove({ relatedContext, draggedContext }) {
      const relatedElement = relatedContext.element;
      const draggedElement = draggedContext.element;
      return (
        // true
        draggedElement.tip !== 'besedilo'
      );
    },
    nastaviVisino () {
      this.visinaOkna = window.innerHeight;
    },
    resizeHandeler (e) {
      this.nastaviVisino()
    },
    oddajZgodbo() {
      if (this.novaBeseda.trim().length > 0) {
        this.elementiZgodbe.push({
          tip: 'besedilo', text: this.novaBeseda.trim()
        })
        this.novaBeseda = ' '
      }
      let besedilo = []
      for (let i = 0; i < this.elementiZgodbe.length; i++) {
        besedilo.push(this.elementiZgodbe[i])
      }
      let podatki = {
        besedilo: besedilo,
        idUporabnika: localStorage.getItem('userId')
      };
      Rest.request("POST", `/rooms/` + this.idIgre + `/add_story`, podatki)
        .then(data => {
          this.koncano = true
        })
        .catch(err => {
          console.log(err);
        });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.ozadje {
  background-image: url('/slike/ozadje-drevesa.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
</style>
