<template>
   <div class="odmik">
    <div v-if="!koncano">
      <div class="col-xs-12" style="margin-top: 1em">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Rezultati</h3>
            <!-- <span class="pull-right" style="color: white">Preostali čas: {{stanje.preostaliCas}}</span> -->
            <p style="color: white">In najboljši pripovedovalec zgodb vseh časov je ... <span style="font-weight: bold;">{{urejeneZgodbe[0].idUporabnika}}</span></p>
          </div>
        </div>
      </div>

      <div class="col-xs-12" v-for="(zgodba, i) in urejeneZgodbe" :key="zgodba.id">
        <div class="box box-default">
          <div class="box-header with-border">
            <span class="label bg-green pull-right">{{zgodba.steviloGlasov}} glasov</span>
            <h3 class="box-title"><span v-if="i === 0"><img src="/slike/trophy.png" style="height: 22px"/>&nbsp;</span>{{i+1}}. mesto: {{zgodba.idUporabnika}}&nbsp;</h3>
            <!-- <span class="pull-right" style="color: white">Preostali čas: {{stanje.preostaliCas}}</span> -->
            <!-- <p style="color: white">Izberi zgodbo, ki se ti zdi najboljša.</p> -->
          </div>
          <div class="box-body">
            <span v-for="beseda in zgodba.besedilo" :key="beseda.text">
              <span :style="'font-weight: ' + (beseda.tip === 'slika' ? 'bold' : 'normal')">{{beseda.text}}&nbsp;</span>
            </span>
          </div>
        </div>
      </div>

      <div class="center">
        <button @click.prevent="$router.push({path:'/'})" class="button" style="margin-top: 15px">
          Zapusti igro
        </button>
      </div>
    </div>
    <div v-else style="text-align: center">
      <img src="/slike/panda.png" style="margin-top: 10em; max-width: 90%" />
      <br />
      <br />
      <h2>Počakaj na ostale igralce</h2>
    </div>
  </div>
</template>

<script>
import Rest from "./../storitve/rest";
import JQuery from "jquery";
import Vue from "vue";
import Risanje from "./Risanje"
import PisanjeZgodbe from "./PisanjeZgodbe"
import CakanjeIgralcev from "./CakanjeIgralcev"
import Glasovanje from "./Glasovanje"

export default {
  components: {
    Risanje,
    PisanjeZgodbe,
    CakanjeIgralcev,
    Glasovanje
  },
  name: "GlavnaStran",
  props: ["idIgre", "stanje"],
  data() {
    return {
        stanjeIgre: null,
    };
  },
  computed: {
    urejeneZgodbe () {
      return this.stanje.zgodbe.sort((a,b) => {return b.steviloGlasov - a.steviloGlasov})
    }
  },
  methods: {
    pridobiStanje () {

    }
  }
};
</script>

<style scoped>

</style>
