<template>
  <div class="odmik">
    <div class="col-xs-12" v-if="!koncano && stanje.steviloSlik - stanje.trenutnaSlika > 0">
      <h3 style="margin-top: 0px">Nariši svojo sliko</h3>
        <small class="pull-right">Preostali čas: {{stanje.preostaliCas}}</small>
      <span>Narisati moraš še {{stanje.steviloSlik - stanje.trenutnaSlika}} slik.</span><br/>
      <span>Navdih za sliko: <span style="font-weight: bold;">{{stanje.navdihZaSliko}}</span></span>
      <div class="center">
        <canvas :id="'canvas'" @touchstart="startPainting" @mousedown="startPainting"
        @touchend="finishedPainting" @mouseup="finishedPainting" @touchmove="draw"
        @mousemove="draw" :style="'max-width: 500px; width: 100%; height: ' + visinaSlike + 'px; border:1px solid #000000; background: #ffffff'"></canvas>
        <button @click="oddajSliko" class="btn btn-block button" style="margin-top: 15px">Oddaj sliko</button>
        <button @click="pocistiSliko" class="btn btn-block button" style="margin-top: 15px">Počisti sliko</button>
      </div>
    </div>
    <div v-else style="text-align:center">
      <img src="/slike/panda.png" :style="'margin-top: 10em; max-width: 90%;'" />
      <br />
      <br />
      <h2>Počakaj na ostale igralce</h2>
    </div>
  </div>
</template>

<script>
import Rest from "./../storitve/rest";
import JQuery from "jquery";
import Vue from "vue";

export default {
  components: {
  },
  name: "Risanje",
  props: ['idIgre', 'stanje'],
  data() {
    return {
      canvas:null,
      ctx:null,
      painting:false,
      risanje: {
        barva: '#000000',
        velikost: 12
      },
      visinaOkna: 300,
      sirinaOkna: 300,
      potezeRisanja: [],
      casZadnjeTocke: Date.now(),
      casZadnjegaZvoka: Date.now(),
      koncano: false
    };
  },
  mounted: function() {
    this.canvas = document.getElementById('canvas');
    this.ctx = this.canvas.getContext('2d');
    this.canvas.height = 400;
    this.canvas.width = 400;
    this.nastaviVisino()
    window.addEventListener('resize', this.resizeHandeler);
  },
  destroyed () {
    window.removeEventListener('resize', this.resizeHandeler);
  },
  computed: {
    visinaSlike () {
      return this.sirinaOkna
    }
  },
  methods: {
    pocistiSliko () {
      this.potezeRisanja = []
      this.ctx.clearRect(0, 0, this.canvas.width, this.canvas.height);
    },
    nastaviVisino () {
      this.visinaOkna = document.getElementById('canvas').clientHeight;
      this.sirinaOkna = document.getElementById('canvas').clientWidth;
    },
    resizeHandeler (e) {
      this.nastaviVisino()
    },
    oddajSliko() {
      // var slika = this.canvas.toDataURL("image/jpg").split(",")[1];
      var slika = this.canvas.toDataURL("image/jpg");
      let podatki = {
        slikaBase64: slika,
        slikaPoteze: JSON.stringify(this.potezeRisanja),
        idUporabnika: localStorage.getItem('userId')
      };
      if (this.stanje.steviloSlik - this.stanje.trenutnaSlika === 1) {
        this.koncano = true
      }
      Rest.request("POST", `/rooms/` + this.idIgre + `/add_image`, podatki)
        .then(data => {
          this.pocistiSliko()
        })
        .catch(err => {
          console.log(err);
        });
    },
    draw(e) {
      var bounds = e.target.getBoundingClientRect();
      var canvasSirina = this.canvas.width
      var canvasVisina = this.canvas.height
      let clientX = e.clientX ? e.clientX : e.touches[0].clientX
      let clientY = e.clientY ? e.clientY : e.touches[0].clientY
      var x = canvasSirina * (clientX - bounds.left) / (bounds.right - bounds.left);
      var y = canvasVisina * (clientY - bounds.top) / (bounds.bottom - bounds.top);

      if(!this.painting) return
      this.ctx.lineWidth = this.risanje.velikost;
      this.ctx.strokeStyle = this.risanje.barva;
      this.ctx.lineCap ='round'

      this.ctx.lineTo(x,y)
      this.ctx.stroke()

      this.ctx.beginPath()
      this.ctx.moveTo(x,y)

      // pretvori v poenostavljene koordinate
      if (Date.now() - this.casZadnjeTocke > 10) {
        this.potezeRisanja[this.potezeRisanja.length - 1][0].push(Math.round(256 * x / canvasSirina))
        this.potezeRisanja[this.potezeRisanja.length - 1][1].push(Math.round(256 * y / canvasVisina))
        this.casZadnjeTocke = Date.now()
      }
      // predvajaj zvok
      if (Date.now() - this.casZadnjegaZvoka > 1000) {
        var audio = new Audio('/zvoki/pisanje.mp3')
        audio.play()
        this.casZadnjegaZvoka = Date.now()
      }
    },
    dodajTocke(x, y) {

    },
    startPainting(e) {
      this.painting = true;
      this.casZadnjeTocke = Date.now() - 250
      this.casZadnjegaZvoka = Date.now() - 1000
      this.potezeRisanja.push([[],[]])
      this.draw(e)

      var canvasSirina = this.canvas.width
      var canvasVisina = this.canvas.height
      let clientX = e.clientX ? e.clientX : e.touches[0].clientX
      let clientY = e.clientY ? e.clientY : e.touches[0].clientY
      var x = canvasSirina * (clientX - bounds.left) / (bounds.right - bounds.left);
      var y = canvasVisina * (clientY - bounds.top) / (bounds.bottom - bounds.top);
      this.potezeRisanja[this.potezeRisanja.length - 1][0].push(Math.round(256 * x / canvasSirina))
      this.potezeRisanja[this.potezeRisanja.length - 1][1].push(Math.round(256 * y / canvasVisina))
      this.casZadnjeTocke = Date.now()
    },
    finishedPainting() {
      this.painting = false;
      this.ctx.beginPath()
      console.log(this.potezeRisanja)
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
