<template>
  <div id="app">
    <body class="hold-transition skin-purple sidebar-collapse">
      <div class="typewriter all">
      <router-view></router-view>
      </div>
    </body>
  </div>
</template>

<script>
export default {
  name: 'app',
  components: {
  }
}


</script>

<style>
  @import './../bower_components/bootstrap/dist/css/bootstrap.min.css';
  @import './../bower_components/font-awesome/css/font-awesome.min.css';
  @import './../bower_components/Ionicons/css/ionicons.min.css';
  @import './../staticno/css/AdminLTE.min.css';
  @import './../staticno/css/skins/_all-skins.min.css';
  @import './../bower_components/pace/pace.min.css';
  @import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic';

  @media (max-width: 768px) {
    .container {
      padding-right: 0px;
      padding-left: 0px;
    }
  }
  @media (max-width: 768px) {
    .container > .navbar-header,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-collapse {
      margin-right: 0;
      margin-left: 0;
    }
  }
  @media (min-width: 1170px) {
    .container {
      width:750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width:750px;
    }
  }
  .typewriter {
    height: 100vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    background-position-x: 50%;
    background-position-y: 0%;
    /*-webkit-animation: zoomin 30s infinite;*/
    overflow: hidden;
    background-image: url("./assets/typewriter.jpg");
  }
  .all {
    color:white;
    font-size:1.2em;
  }
  h3 {
    color:white;
  }
  .button{
    display:inline-block;
    border: 0.1em solid #FFFFFF;
    padding:0.35em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    background:transparent;
  }
  .button:hover:not([disabled]){
    color:#000000;
    background-color:#FFFFFF;
    cursor: pointer;
  }
  .button:disabled {
    color:gray;
    border: 0.1em solid gray;
  }
  .box {
    background: transparent;
  }
  .box-footer {
    background:transparent;
  }
  .center {
    text-align:center;
  }
  .odmik {
    margin-top: 30px;
  }
</style>
