<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <meta name="theme-color" content="#3c8dbc" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="blue">

    <!-- <link rel="apple-touch-icon" sizes="57x57" href="/ikone/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/ikone/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/ikone/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/ikone/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/ikone/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/ikone/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/ikone/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/ikone/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/ikone/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/ikone/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/ikone/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/ikone/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/ikone/favicon-16x16.png">
    <link rel="manifest" href="/ikone/manifest.json">
    <meta name="msapplication-TileImage" content="/ikone/ms-icon-144x144.png"> -->

    <title>Krica kraca</title>
  </head>
  <body>
    <noscript>
      <strong>Za delovanje te strani je potreben javascript</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
